body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.__react-error-overlay-container,
#webpack-dev-server-client-overlay {
  display: none !important;
}
.xterm .xterm-viewport,
.xterm .xterm-screen,
.xterm {
  background: rgba(30,30,30,0.85) !important; /* semi-transparent */
}